@font-face {
	font-family: opensansregular;
	src: url('../fonts/opensansregular.eot');
	src: url('../fonts/fonts/opensansregular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fonts/opensansregular.woff2') format('woff2'),
	url('../fonts/fonts/opensansregular.woff') format('woff'),
	url('../fonts/fonts/opensansregular.ttf')  format('truetype'),
	url('../fonts/fonts/opensansregular.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: opensansbold;
	src: url('../fonts/fonts/opensansbold.eot');
	src: url('../fonts/fonts/opensansbold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fonts/opensansbold.woff2') format('woff2'),
	url('../fonts/fonts/opensansbold.woff') format('woff'),
	url('../fonts/fonts/opensansbold.ttf')  format('truetype'),
	url('../fonts/fonts/opensansbold.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: opensansextrabold;
	src: url('../fonts/fonts/opensansextrabold.eot');
	src: url('../fonts/fonts/opensansextrabold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fonts/opensansextrabold.woff2') format('woff2'),
	url('../fonts/fonts/opensansextrabold.woff') format('woff'),
	url('../fonts/fonts/opensansextrabold.ttf')  format('truetype'),
	url('../fonts/fonts/opensansextrabold.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: opensanssemibold;
	src: url('../fonts/fonts/opensanssemibold.eot');
	src: url('../fonts/fonts/opensanssemibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fonts/opensanssemibold.woff2') format('woff2'),
	url('../fonts/fonts/opensanssemibold.woff') format('woff'),
	url('../fonts/fonts/opensanssemibold.ttf')  format('truetype'),
	url('../fonts/fonts/opensanssemibold.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: icon;
	src: url('../fonts/fonts/icon.eot?8364vd');
	src: url('../fonts/fonts/icon.eot?8364vd#iefix') format('embedded-opentype'),
	url('../fonts/fonts/icon.ttf?8364vd') format('truetype'),
	url('../fonts/fonts/icon.woff?8364vd') format('woff'),
	url('../fonts/fonts/icon.svg?8364vd#font-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* clearfix */
.clearfix {
  &:before {
    content: "";
    display: table;
    margin: 0;
    padding: 0;
  }

  &:after {
    content: "";
    display: table;
    margin: 0;
    padding: 0;
    clear: both;
  }
}
